
@{
    ViewBag.Title = "MyClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@ViewBag.error
<h2> Lớp học đã đăng ký</h2>
<hr />
<div>
    <table class="table table-bordered" style="width:70%">
        @foreach (var item in Model)
            {
            <tr style="border:2px solid;border-radius:8px;">
                <td>
                    <a href="#" onclick="location.href='@Url.Action("ViewDetails","Lop",new {id=item.MaLop })'">
                        <img src="~/Assets/Image/@item.Image" class="img-thumbnail" style="width:125px;height:152px" />
                    </a>
                </td>
                <td>
                    <div>
                        <div>
                            <h3 style="display:inline-block">
                                <a href="#" onclick="location.href='@Url.Action("ClassDetails","Lop",new {id=item.MaLop })'">
                                    @item.TenLop
                                </a>
                            </h3>
                            <div class="text-muted" style="font-size:12px;">
                                <ul class="list-unstyled list-inline">
                                    <li style="display:inline-block;">
                                        <em class="fa fa-clock-o">
                                            &nbsp;
                                        </em>
                                        Ngày bắt đầu: @item.NgayBatDau
                                        &nbsp;&nbsp;&nbsp;
                                    </li>
                                    <li style="display:inline-block;">
                                        <em class="fa fa-user">
                                            &nbsp;
                                        </em>
                                        Sĩ số: @item.SiSo
                                        &nbsp;&nbsp;&nbsp;
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p style="font-size:16px;height:100px;width:500px;overflow:hidden;">
                            @item.MoTa
                        </p>
                    </div>
                </td>
                @*<td>

                    <div style="margin-top:0px;">
                        <em class="fa fa-pencil">
                            <a href="" data-toggle="modal" data-target="#Update"><u>Chỉnh sửa</u></a>
                        </em>
                        |
                        <em class="fa fa-trash">
                            <a href="" data-toggle="modal" data-target="#deleteDialog"><u>Xóa</u></a>
                        </em>
                    </div>
                </td>*@
            </tr>
        }
    </table>
    <br />
</div>

